<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikiller.zxinglib">
    <!--package="com.mikiller.zxinglib"-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
    </application>

</manifest>
